{% extends "website/base.html" %}
{% load static %}

{% block style %}
    <style>
        .content-sidebar {
            background-color: #f8f8f8;
            border-color: #fff;
            display: flex;
            gap: 1em;
        }
        .left {
            flex: 1 1 70%;
        }
        .right {
            flex: 1 1 30%;
            max-height: 50%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Bienvenido(a) al sitio web de Laidy Pérez</h1>
    <div class="content-sidebar">

        <div class="left">
            <p style="text-align:justify-all;white-space:pre-wrap;" >
                Aquí encontrarás la más actualizada información sobre "Complicidad, De Suspiros y Gemidos."
                Un libro escrito por mi, Laidy Pérez, que espero te encante. Te ayude a ....
            </p>
        </div>

        <div class="right">
            <img src="{% static 'website/book-good.png' %}" class="img-responsive" alt="Laidy Pérez" height="600" >
        </div>
    </div>
{% endblock %}
